# Port number
PORT=3000

# Postgres URL
DATABASE_URL="mysql://root:password@localhost:3306/express_prisma"

# JWT
# JWT secret key
JWT_SECRET=RWZ4bTiN9Km7UE1jgG6IMlt3zkBTXyE9lz7EtgHB

#api secret key
API_SECRET=OXUngNi992ArPXLF24f18uPpHsD0NC66MLKYeu8l

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like 
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
email_from=support@yourapp.com
